<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio d'Artistes{% endblock %}</title>
    {# installer tailwind via npm et enlever le cdn -> probleme npm install ? #}
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles/app') }}
    {% endblock %}
</head>
<body class="bg-gray-100 text-gray-900">
    {% include 'partials/navbar.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
